.friendName {
  margin-block-end: 5px;
}

.online {
  color: rgb(14, 196, 23);
  margin-block-end: 0;
  margin-block-start: 0.5px;
}

.offline {
  color: rgb(246, 32, 32);
  margin-block-end: 0;
  margin-block-start: 0.5px;
}
